label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input {
  padding: 8px;
  width: 80%;
  margin-bottom: 8px;
  border: 1px solid gray;
}

.inputAdmin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  padding: 2rem;
  border: 1px solid rgb(70, 70, 244);
  border-radius: 1rem;
}

.buttonForm {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.buttonDanger {
  background-color: red;
  margin-left: 8px;
  padding: 5px 12px;
  border: none;
  border-radius: 16px;
  color: white;
}

.buttonDanger:hover {
  background-color: rgb(243, 71, 32);
}

.buttonEdit {
  background-color: #3EB492;
  margin-left: 8px;
  border: none;
  padding: 5px 16px;
  color: white;
  border-radius: 14px;
}

.buttonEdit:hover {
  background-color: #2980b9;
}

.buttonShow {
  background-color: yellowgreen;
  padding: 5px 12px;
  border: none;
  border-radius: 16px;
  color: white;
}

.buttonShow:hover {
  background-color: rgb(105, 151, 12);
}

/* gaya untuk tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #1D204F;
  color: white;
}

.data-image-admin img{
  width: 50px;
  height: 50px;
}
