.footer{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    width: 100%;
}
.icon{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.icon span{
    color: #3EB492;
    font-size: 1.5rem;
    font-weight: 600;
}
.containerSocial .iconSocial{
    font-size: 1.7rem;
    color: #1D204F;
    margin-bottom: 1rem;
}
.containerSocial a{
    margin: 0 0.6rem;
}

.containerCopyright .list{
    display: flex;
    gap: 1.5rem;
}
.containerCopyright p{
    font-weight: 600;
}
.listFooter{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 375px) {
    .footer{
        margin: 2rem 0;
        padding: 2rem 1rem;
    }
    .icon{
        display: flex;
        justify-content: center;
    }
    .listFooter{
        font-size: 0.9rem;
        gap: 1.2rem;
        justify-content: center;
    }
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerCopyright{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 992px) {
    .containerCopyright p{
        margin-top: 1rem;
    }
}
/* @media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1280px) {
} */